@charset "utf-8";


@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, div, h1, h2, h3, h4, ul, li, a, img, form, fieldset,
legend, label, input, span, p, address
{margin:0; padding:0;}

img, fieldset{border:none;}

a:link, a:visited
{text-decoration:none;
color:#333;}

a:hover, a:active
{text-decoration:underline;
color:#333;}

ul{list-style:none;}

legend, .skip, label, caption
{width:1px;
height:1px;
overflow:hidden;
font-size:0;
line-height:0;
position:absolute;
left:-999px;}

#headerWrap
{width:100%;
position:relative;
z-index:999;
border-bottom:1px solid #e0dfdf}

#headerBg
{width:100%;
background-color:#1a1a1a;
height:45px;}

#header
{width:1200px;
margin:0 auto;
padding:5px 0;
overflow:hidden;}

#header h1{float:left;}


.info_right
{float:right;
padding-top:8px;
width:440px;}

.user_info ul li
{padding-right:20px;
float:left;}

.user_info ul li a
{color:#fff;
font-size:14px;}

.infoimg
{float:left;
padding-right:20px;}



/*gnb*/
#gnb
{width:1200px;
margin:0 auto;
/*overflow:hidden;*/
}
#gnb ul{overflow: hidden}

#gnb > ul>li
{float:left;
width:200px;
padding:20px 0;
text-align:center;
background:url(../images/gnb_bar.gif) no-repeat 0 20px;
}

#gnb > ul >li:first-child
{background:none;} 

#gnb> ul> li> a
{font-size:18px;
display:block;
text-decoration:none;}

.subMenu{display: none; height: 350px; }


.subMenu li {height: 45px;}
.subMenu li a{font-size: 14px; line-height: 35px; display: block}
.on{background: #f2f2f2}














